.mainContainer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.orderCard {
  border: solid red 2px;
  width: 30%;
  padding: 5px;
}